@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-style: normal;
}



nav {
  background-color: #c3c0db;
  ul {
    .logo {
      h1 {
        color: #5e5b78;
      }
    }
    .bar {
      li {
        &:hover {
          transition: 0.4s;
          background-color: #5e5b78;
          a {
            color: #c3c0db;
          }
        }
        a {
          color: #5e5b78;
          font-weight: bold;
          display: block;
          // padding: 0.5rem 1rem;
        }
      }
    }
  }
}
